.American-RoughRider::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/American.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.French-BlackQueen::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/French.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Kongolese::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Kongolese.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Sumerian::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Sumerian.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Arabian::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Arabian.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.GreekPericles::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Greek-Pericles.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Norwegian::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Norwegian.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Aztec::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Aztec.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.GreekGorgo::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Greek-Gorgo.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Roman::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Roman.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Egyptian::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Egyptian.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.IndianGandhi::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Indian-Gandhi.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Russian::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Russian.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.EnglishVictoria::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/English-Victoria.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Japanese::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Japanese.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Spanish::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Spanish.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Cree::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Cree.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Dutch::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Dutch.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Georgian::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Georgian.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.IndianChandragupta::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Indian-Chandragupta.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Korean::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Korean.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Mapuche::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Mapuche.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Mongolian::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Mongolian.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Scottish::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Scottish.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Zulu::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Zulu.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Canadian::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Canadian.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Māori::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Māori.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.EnglishEleanor::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/English-Eleanora.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Ottoman::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Ottoman.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Hungarian::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Hungarian.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Phoenician::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Phoenician.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Incan::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Incan.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Swedish::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Swedish.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}
.Mali::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Mali.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

/* ----- */

.Poland::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Poland.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.Australia::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Australia.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.Persia::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Persia.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.Macedonian::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Macedonian.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.Nubia::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Nubia.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.Khmer::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Khmer.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.Indonesia::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Indonesia.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.Mayan::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Mayan.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.GranColombian::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Gran_Colombian.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.Ethiopia::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Ethiopia.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.American-BullMoose::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/American.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.French-Magnificence::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/French.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.Byzantine::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Byzantine.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.Gallic::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Gallic.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.Chinese::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Chinese.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.Brazilian::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Brazilian.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.German::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/German.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.Scythian::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/Scythian.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}

.FrenchEleanor::before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/civilizations-logo/French-Eleanora.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 10px;
}