* ,
* ::after,
* ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 41, 41);
}

button {
    user-select: none;
}

.section__first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 25px 50px;
}

.civAndPlayersBlock {
    color: rgb(255, 60, 60);
    margin-top: 50px;
    user-select: none;
}

.civAndPlayersBlock-HIDE {
    display: none;
}

.accept__button-1-HIDE {
    display: none;
}

.btnAccept_2-HIDE {
    display: none;
}

.section__first-hidden {
    display: none;
}

.section__first-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    user-select: none;
}

.section__first-select-1 {
    margin-bottom: 30px;
    margin-top: 10px;

    display: block;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    outline: none;
}

.section__first-select-2 {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    outline: none;
}

.section__first-button {
    outline: none;
    border: none;
    background-color: rgb(71, 135, 255);
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 700;
    color: white;
    margin-top: 50px;
}

.main__section {
    display: none;
}

.btn-title-design {
    transition: 0.3s;
}

.btn-title-design:hover {
    color: #292929;
    background-color: #fff;
}

.main__section-active {
    margin: 100px 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__button {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    user-select: none;
}

.accept__button-1 {
    outline: none;
    border: none;
    background-color: rgb(71, 135, 255);
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 700;
    color: white;
    margin-top: 50px;
}

.accept__button-2 {
    outline: none;
    border: none;
    background-color: rgb(71, 135, 255);
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 700;
    color: white;
    margin-top: 50px;
}
/* --------- */
.main__section-main-DLC {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__section-btn-all {
    font-family: Montserrat;
    font-style: normal;
    color: #292929;
    width: 182px;
    height: 49px;
    background-color: rgb(71, 135, 255);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 70px;
    font-size: 24px;
    line-height: 29px;
    border-radius: 5px;
}

.main__section-btn-all:hover {
    background-color: rgb(109, 160, 255);
}

.main__section-main-DLC-btn {
    font-family: Montserrat;
    font-style: normal;
    color: #ffffff;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid #FFFFFF;
    font-size: 24px;
    line-height: 29px;
}
/* ---------
--------- */

.main__section-main-DLC-Vanila-banner {
    width: 800px;
    height: 143px;
    background-color: rgb(41, 41, 41);
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.main__section-main-DLC-Vanila-banner::before {
    content: "";
    background-image: url(../images/civ-sets/Vanila.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.2;
    transition: 0.3s;
}

.main__section-main-DLC-Vanila-line {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    position: absolute;
    bottom: 20px;
}

.main__section-main-DLC-Vanila-title {
    font-size: 24px;
    user-select: none;
}

.btn-active .main__section-main-DLC-Vanila-line {
    background-color: #fff;
}

.btn-active .main__section-main-DLC-Vanila-title {
    color: rgb(41, 41, 41);
}

.main__section-main-DLC-bottom-banners {
    display: flex;
    justify-content: space-between;
}

.main__section-main-DLC-Rise-banner {
    width: 390px;
    height: 143px;
    background-color: rgb(41, 41, 41);
    position: relative;
    cursor: pointer;
}

.main__section-main-DLC-Rise-banner::before {
    content: "";
    background-image: url(../images/civ-sets/Rise-Fall.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.2;
    transition: 0.3s;
}

.main__section-main-DLC-Rise-line {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    position: absolute;
    bottom: 20px;
}

.main__section-main-DLC-Rise-title {
    font-size: 24px;
    user-select: none;
}

.btn-active .main__section-main-DLC-Rise-line {
    background-color: #fff;
}

.btn-active .main__section-main-DLC-Rise-title {
    color: rgb(41, 41, 41);
}

.main__section-main-DLC-Gathering-banner {
    width: 390px;
    height: 143px;
    background-color: rgb(41, 41, 41);
    position: relative;
    cursor: pointer;
}

.main__section-main-DLC-Gathering-banner::before {
    content: "";
    background-image: url(../images/civ-sets/Gathering-Storm.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.2;
    transition: 0.3s;
}

.main__section-main-DLC-Gathering-line {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    position: absolute;
    bottom: 20px;
}

.main__section-main-DLC-Gathering-title {
    font-size: 24px;
    user-select: none;
}

.btn-active .main__section-main-DLC-Gathering-line {
    background-color: #fff;
}

.btn-active .main__section-main-DLC-Gathering-title {
    color: rgb(41, 41, 41);
}

/* ---------- New Frontier Pass ---------- */

.main__section-New-Frontier-btn {
    font-family: Montserrat;
    font-style: normal;
    color: #ffffff;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid #FFFFFF;
    font-size: 24px;
    line-height: 29px;
    margin-top: 70px;
}

.main__section-New-Frontier-container {
    display: flex;
}

.main__section-New-Frontier-left {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.main__section-New-Frontier-right {
    display: flex;
    flex-direction: column;
}

.main__section-New-Frontier-Persona-banner {
    width: 390px;
    height: 306px;
    background-color: rgb(41, 41, 41);
    position: relative;
    cursor: pointer;
}

.main__section-New-Frontier-Persona-banner::before {
    content: "";
    background-image: url(../images/civ-sets/Persona-pack.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.2;
    transition: 0.3s;
}

.main__section-New-Frontier-Persona-line {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    position: absolute;
    bottom: 20px;
}

.main__section-New-Frontier-Persona-title {
    font-size: 24px;
    user-select: none;
}

.btn-active .main__section-New-Frontier-Persona-line {
    background-color: #fff;
}

.btn-active .main__section-New-Frontier-Persona-title {
    color: rgb(41, 41, 41);
}

.main__section-New-Frontier-ByzantiumGaul-banner {
    width: 390px;
    height: 143px;
    background-color: rgb(41, 41, 41);
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.main__section-New-Frontier-ByzantiumGaul-banner::before {
    content: "";
    background-image: url(../images/civ-sets/Byzantium-Gaul.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.2;
    transition: 0.3s;
}

.main__section-New-Frontier-ByzantiumGaul-line {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    position: absolute;
    bottom: 20px;
}

.main__section-New-Frontier-ByzantiumGaul-title {
    font-size: 24px;
    user-select: none;
}

.btn-active .main__section-New-Frontier-ByzantiumGaul-line {
    background-color: #fff;
}

.btn-active .main__section-New-Frontier-ByzantiumGaul-title {
    color: rgb(41, 41, 41);
}

.main__section-New-Frontier-MayaGranColombia-banner {
    width: 390px;
    height: 143px;
    background-color: rgb(41, 41, 41);
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.main__section-New-Frontier-MayaGranColombia-banner::before {
    content: "";
    background-image: url(../images/civ-sets/Maya-Gran-Colombia.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.2;
    transition: 0.3s;
}

.main__section-New-Frontier-MayaGranColombia-line {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    position: absolute;
    bottom: 20px;
}

.main__section-New-Frontier-MayaGranColombia-title {
    font-size: 24px;
    user-select: none;
}

.btn-active .main__section-New-Frontier-MayaGranColombia-line {
    background-color: #fff;
}

.btn-active .main__section-New-Frontier-MayaGranColombia-title {
    color: rgb(41, 41, 41);
}

.main__section-New-Frontier-Ethiopia-banner {
    width: 390px;
    height: 143px;
    background-color: rgb(41, 41, 41);
    position: relative;
    cursor: pointer;
}

.main__section-New-Frontier-Ethiopia-banner::before {
    content: "";
    background-image: url(../images/civ-sets/Ethiopia.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.2;
    transition: 0.3s;
}

.main__section-New-Frontier-Ethiopia-line {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    position: absolute;
    bottom: 20px;
}

.main__section-New-Frontier-Ethiopia-title {
    font-size: 24px;
    user-select: none;
}

.btn-active .main__section-New-Frontier-Ethiopia-line {
    background-color: #fff;
}

.btn-active .main__section-New-Frontier-Ethiopia-title {
    color: rgb(41, 41, 41);
}

/* ---------- Civilizations Packs ---------- */

.main__section-Civ-Packs-btn {
    font-family: Montserrat;
    font-style: normal;
    color: #ffffff;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid #FFFFFF;
    font-size: 24px;
    line-height: 29px;
    margin-top: 70px;
}

.main__section-Civ-Packs-container {
    display: flex;
}

.main__section-Civ-Packs-left {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.main__section-Civ-Packs-right {
    display: flex;
    flex-direction: column;
}

.main__section-Civ-Packs-KhmerIndonesia-banner {
    width: 390px;
    height: 143px;
    background-color: rgb(41, 41, 41);
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.main__section-Civ-Packs-KhmerIndonesia-banner::before {
    content: "";
    background-image: url(../images/civ-sets/Khmer-Indonesia.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.2;
    transition: 0.3s;
}

.main__section-Civ-Packs-KhmerIndonesia-line {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    position: absolute;
    bottom: 20px;
}

.main__section-Civ-Packs-KhmerIndonesia-title {
    font-size: 24px;
    user-select: none;
}

.btn-active .main__section-Civ-Packs-KhmerIndonesia-line {
    background-color: #fff;
}

.btn-active .main__section-Civ-Packs-KhmerIndonesia-title {
    color: rgb(41, 41, 41);
}

.main__section-Civ-Packs-PersiaMacedon-banner {
    width: 390px;
    height: 143px;
    background-color: rgb(41, 41, 41);
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.main__section-Civ-Packs-PersiaMacedon-banner::before {
    content: "";
    background-image: url(../images/civ-sets/Persia-Macedon.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.2;
    transition: 0.3s;
}

.main__section-Civ-Packs-PersiaMacedon-line {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    position: absolute;
    bottom: 20px;
}

.main__section-Civ-Packs-PersiaMacedon-title {
    font-size: 24px;
    user-select: none;
}

.btn-active .main__section-Civ-Packs-PersiaMacedon-line {
    background-color: #fff;
}

.btn-active .main__section-Civ-Packs-PersiaMacedon-title {
    color: rgb(41, 41, 41);
}

.main__section-Civ-Packs-Australia-banner {
    width: 390px;
    height: 143px;
    background-color: rgb(41, 41, 41);
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.main__section-Civ-Packs-Australia-banner::before {
    content: "";
    background-image: url(../images/civ-sets/Australia.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.2;
    transition: 0.3s;
}

.main__section-Civ-Packs-Australia-line {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    position: absolute;
    bottom: 20px;
}

.main__section-Civ-Packs-Australia-title {
    font-size: 24px;
    user-select: none;
}

.btn-active .main__section-Civ-Packs-Australia-line {
    background-color: #fff;
}

.btn-active .main__section-Civ-Packs-Australia-title {
    color: rgb(41, 41, 41);
}

.main__section-Civ-Packs-Nubia-banner {
    width: 390px;
    height: 143px;
    background-color: rgb(41, 41, 41);
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.main__section-Civ-Packs-Nubia-banner::before {
    content: "";
    background-image: url(../images/civ-sets/Nubia.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.2;
    transition: 0.3s;
}

.main__section-Civ-Packs-Nubia-line {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    position: absolute;
    bottom: 20px;
}

.main__section-Civ-Packs-Nubia-title {
    font-size: 24px;
    user-select: none;
}

.btn-active .main__section-Civ-Packs-Nubia-line {
    background-color: #fff;
}

.btn-active .main__section-Civ-Packs-Nubia-title {
    color: rgb(41, 41, 41);
}

.main__section-Civ-Packs-Poland-banner {
    width: 390px;
    height: 143px;
    background-color: rgb(41, 41, 41);
    position: relative;
    cursor: pointer;
}

.main__section-Civ-Packs-Poland-banner::before {
    content: "";
    background-image: url(../images/civ-sets/Poland.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.2;
    transition: 0.3s;
}

.main__section-Civ-Packs-Poland-line {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    position: absolute;
    bottom: 20px;
}

.main__section-Civ-Packs-Poland-title {
    font-size: 24px;
    user-select: none;
}

.btn-active .main__section-Civ-Packs-Poland-line {
    background-color: #fff;
}

.btn-active .main__section-Civ-Packs-Poland-title {
    color: rgb(41, 41, 41);
}
/* ----- */

.main__section-Rise-Gathering {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main__section-Rise-and-Fall {
    background-image: url(../images/civ-sets/Rise-Fall.jpg);
    width: 390px;
    height: 143px;
    cursor: pointer;
}

.main__section-Gathering-Storm {
    background-image: url(../images/civ-sets/Gathering-Storm.jpg);
    opacity: 0.2;
    width: 390px;
    height: 143px;
    cursor: pointer;
}
/* --------- */
.btn-design {
    border: none;
    outline: none;
    background-color: rgb(182, 182, 182);
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-active::before {
    content: "";
    opacity: 1;
}

.second__section {
    margin: 100px 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second__section-hidden {
    display: none;
}

.secondSection-title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
    user-select: none;
}

.secondSection-civilizations {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 852px;
}

.finalSection {
    margin: 100px 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finalSection-title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
}

.finalSection-civilizations {
    display: flex;
    align-items: center;
}

.player-num {
    margin-top: 25px;
    margin-left: 17px;
}

.secondSection-BtnAll {
    outline: none;
    border: none;
    background-color: #424242;
    border-radius: 5px;
    padding: 7px 15px;
    cursor: pointer;
    font-weight: 700;
    color: white;
    transition: 0.3s;
}

.secondSection-BtnAll:hover {
    background-color: #772a2a;
}

/* ----------------- */

.civilizations {
    display: inline-block;
    margin-top: 10px;
    display: flex;
    align-items: center;
    user-select: none; 
    
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    background-color: #424242;
    border-radius: 5px;
    padding: 5px;
}

.civilization-disabled {
    background-color: #772a2a;
}